* {
    margin: 0;
    padding: 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: sans-serif;

}

.main-right-nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-element {
    padding-right: 19px;
}

.main-body {
    margin-top: 20px;
    display: flex;
    height: 450px;
}

.main-left-nav {
    padding-left: 30px;
}

.main-body-image {
    height: 350px;
}

button {
    padding: 12px 17px;  
    border-radius: 20px;
    background-color: #2639ED;
    font-size: 12px b;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    border: none;
    margin-top: 20px;
}

.main-body p {
    max-width: 300px;
    text-align: center;
    margin-top: 30px;
}

.main-body h2 {
    text-align: left;
}

.main-body-2 {
    margin-top: 60px;
    margin-left: 5%;
}

.our-client {
    display: flex;
    align-items: center;
    margin-left: 60px;
    text-align: center;
}

.our-client img {
    height: 20px;
    margin-right: 90px;
}

.our-client-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.our-client-right {
    margin-left: 70px;
    display: flex;
    justify-content: space-evenly;
}

.your-business {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.your-business-left {
    max-width: 250px;
    text-align: center;
}

.your-business-left p {
    margin-top: 18px;
}

.your-business-middle  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    max-width: 230px;
}

.your-business-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
    max-width: 230px;
}

.your-business-img-1 {
    max-width: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 247, 0.126);
    border-radius: 10px;
}

.your-business-img-2 {
    max-width: 40px;
    padding: 10px;
    background-color: rgba(247, 0, 177, 0.126);
    border-radius: 10px;
}

.your-business-img-3 {
    max-width: 40px;
    padding: 10px;
    background-color: rgba(233, 229, 9, 0.296);
    border-radius: 10px;
}

.your-business-img-4 {
    max-width: 40px;
    padding: 10px;
    background-color: rgba(110, 132, 115, 0.296);
    border-radius: 10px;
}

.your-business-middle-card {
    padding: 20px;
    align-items: center;
    height: 230px;
    margin: 20px;
    background-color: rgba(169, 202, 196, 0.235);
    border-radius: 25px;
}

.your-business-middle-card img {
    align-items: center;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;
}

.your-business-middle-card h3 {
    margin: 0px 10px 6px 10px;
}

.your-business-middle-card p {
    margin-top: 8px;
    font-size: small;
    font-weight: lighter;
    text-align: center;
}

.your-business-left img {
    margin-top: 80px;
}

.digital-product {
    display: flex;
    justify-content: center;
    margin-left: 05%;
    margin-top: 30px;
    background-color: rgba(62, 120, 39, 0.23);
    border-radius: 20px;
    margin-right: 4px;
}

.digital-product-right {
    margin-top: 60px;
    margin-right: 10%;
}

.digital-product-right h2 {
    font-size: 40px;
    margin-bottom: 18px;
}

.digital-product-right p {
    font-size: 14px;
    font-weight: lighter;
}

.happy-client {
    text-align: center;
    margin: 40px;
}

.happy-client p {
    text-decoration: none;
    font-weight: lighter;
}

.customer-feedback {
    margin: 30px 30px 25px 60px;
    display: flex;
    border: 2px solid rgb(90, 58, 58, 0.0532);
}

.customer-feedback-left img {
    max-width: 350px;
}

.customer-feedback-middle {
   max-width: 300px;
   margin-right: 30px;
}

.customer-feedback-middle h2 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.customer-feedback-right img {
    max-width: 350px;
    margin-left: 25px;
}

hr {
    margin-left: 5%;
    margin-right: 2.5%;
    opacity: 0.3;
}

footer p {
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.3;
}